<!-- <!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="Content/css/styles.css">


    <title>Find and replace</title>
  </head>

  <body>
    <div class="container">
      <h1>Enter your phrase and the word you'd like to search that phrase for</h1>

      <form action="/" method="post">
        <input name = "phrase" placeholder = "Phrase"></input>
        <input name = "wordToReplace" placeholder = "Single Word"></input>
        <input name = "newWord" placeholder = "Single Word"></input>
        <button class = "btn btn-info">How many times does my word appear?</button>
      </form>

      @{
        if(@Model != null)
        {
          <p> @Model.ReplaceWord()</p>
          <p>If you want to replace only the whole words, here is your output</p>
          <p>@Model.WholeWordsOnly()</p>
          <p>the word @Model.GetWordToReplace() was replaced @Model.CountWord() times</p>



          <form action="/">
            <button class = "btn btn-info">reset</button>
          </form>
        }

      }


    </div>
  </body>
</html> -->
