<h1>Enter your phrase and the word you'd like to search that phrase for</h1>

<form action="/enterInputs" method="post">
  <input name = "phraseInput" placeholder = "Phrase"></input>
  <input name = "wordInput" placeholder = "Single Word"></input>
  <button>How many times does my word appear?</button>
</form>
