<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Find and replace</title>
  </head>
  <body>
    <div class="container">
      <h1>Enter your phrase and the word you'd like to search that phrase for</h1>

      <form action="/enterInputs" method="post">
        <input name = "phrase" placeholder = "Phrase"></input>
        <input name = "wordToReplace" placeholder = "Single Word"></input>
        <input name = "newWord" placeholder = "Single Word"></input>
        <button>How many times does my word appear?</button>
      </form>
    </div>
  </body>
</html>
